{% extends "../_templates/partials/section.njk" %}
{% set classes="reasons-section" %}

{% set title %}
5 Reasons Why...
{% endset %}

{% set text %}
<ul>
  <li style="color: blue">You're gonna love the way you look.</li>
  <li style="color: red">I guarantee it.</li>
</ul>
{% endset %}