{% extends "../_templates/partials/section.njk" %}
{% set classes="bestsellers-section" %}

{% set title %}
Monthly {{ "Bestsellers" | upper }}
{% endset %}

{% set text %}
<span style="display: flex; flex-direction: column">
  <span>Check out our <b>bestsellers</b>!</span>
  <span>Many options.</span>
</span>
{% endset %}