---
permalink: "{{ page.fileSlug }}/index.html"
---

{% extends '../_templates/application.njk' %}
{% set classes = page.fileSlug | string %}

{% block app_body %}
  {% include "../content/tacos.njk" %}
{% endblock %}