{% extends "../_templates/partials/features.njk" %}

{% set features = [
  {
    name: "Speed",
    description: "It's fast."
  },
  {
    name: "Reliability",
    description: "You can count on it."
  },
  {
    name: "Security",
    description: "You don't have to worry about it."
  }
] %}