---
permalink: "{{ page.fileSlug }}/index.html"
layout: ../_templates/application.njk
classes: master-layout
---

{% include "../views/bestsellers.njk" %}
{% include "../views/5-reasons-why.njk" %}
{% include "../views/product-features.njk" %}