{% extends "../_templates/section_blocks.njk" %}

{% block classes %}
{{- "bananas-section" -}}
{% endblock %}

{% block title %}
{{ "<b>Bananas</b>" }} <u>underlined</u>
{% endblock %}

{% block text %}
<span style="display: flex; flex-direction: column">
  <span>some text here about <b>bananas</b> yup</span>
  <span>afdsfdsf</span>
</span>
{% endblock %}