{% from '../_templates/section.njk' import fields %}

{{fields(
  classes =
    'tacos-section'
  ,title =
    'Tacos!' | upper
  ,text =
    '<span style="display: flex; flex-direction: column">
      <span>some text here about <b>tacos</b>, lol...</span>
      <span>asdf</span>
    </span>'
)}}